<div class="selector-container">

    @if (isCreating()) {
        <div class="create-pane">
            <h3 style="margin-top: 0;">Create New Configuration</h3>

            <app-config-form-component
                [config]="configToEdit()" [isReadonly]="false"
                (configChanged) = "onConfigSave($event)">
            </app-config-form-component>

            <div class="actions" style="margin-top: 16px;">
                <button mat-stroked-button type="button" (click)="isCreating.set(false)">Cancel Creation</button>
            </div>
        </div>
    } @else {
        <div class="left-pane">
            <mat-radio-group [(ngModel)]="selectedConfigId" (change)="onConfigSelect()">
                @for (config of configs(); track config.id) {
                    <mat-radio-button [value]="config.id">
                        {{ config.name }}
                        <span
                            class="cert-count-pill"
                              [matTooltip] = "'This config has ' + (config.valid_certificate_count ?? 0) + ' certificates attached to it.'"
                              >count: {{ config.valid_certificate_count || 0}}
                        </span>
                        @if (currentConfigId === config.id) {
                            <span class="badge-current">Current</span>
                        }
                    </mat-radio-button>
                }
            </mat-radio-group>

            <div class="actions">
                <button mat-stroked-button type="button" (click)="startCreate()">Create</button>
                <button
                    mat-stroked-button
                    color="warn"
                    type="button"
                    [disabled]="!selectedConfig() || !isOwner()"
                    (click)="deleteConfig()">
                    Delete
                </button>
            </div>
        </div>

        <div class="right-pane">
            @if (selectedConfig()) {
                <app-config-form-component
                    [config]="selectedConfig()"
                    [isReadonly]="!isOwner()"
                    (configChanged) = "onConfigEdit($event)">
                </app-config-form-component>
            } @else {
                <p class="placeholder">Select a configuration to view details.</p>
            }
        </div>
    }

</div>
